.App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
  }
  
  .left-links, .right-links {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
 /* Header.css */
/* Add styles for the dropdown menu */
.header-link {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff; /* Background color for the dropdown */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow for a nice effect */
    z-index: 1;
  }
  
  /* Style the individual dropdown items */
  .dropdown-content a {
    color: #333; /* Text color for the dropdown items */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Add a hover effect for the dropdown items */
  .dropdown-content a:hover {
    background-color: #ddd; /* Background color on hover */
  }
  
  /* Show the dropdown when hovering over the header link */
  .header-link:hover .dropdown-content {
    display: block;
  }
  
  
  .name-title {
    text-align: center;
    margin: 0;
    flex-grow: 1;
  }

  .main-title-link {
    text-decoration: none; /* Remove the underline */
    color: inherit; /* Inherit the color from the parent */
  }

 .link-title{
    text-decoration: none;
    color: inherit;
 }
  